body {
    font-family: 'Inter', sans-serif;
}
header {
    margin-top: 90px;
}


.text-gradient {
    background: linear-gradient(315deg, #1e30f3 0%, #e21e7f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.badge-custom {
    display: inline-block;
    background: linear-gradient(315deg, #1e30f3 0%, #e21e7f 100%);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    font-weight: 700;
    font-size: 0.75rem;
}

.btn-primary {
    background-color: #1e30f3;
    border-color: #1e30f3;
}


.profile-wrapper {
    position: relative;
    padding: 3rem;
}

.profile-bg-gradient {
    position: relative;
    width: 25rem;
    height: 25rem;
    background: linear-gradient(315deg, #1e30f3 0%, #e21e7f 100%);
    border-radius: 3rem; 
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    overflow: visible; 
    z-index: 2;
}

.profile-img {
    max-width: 100%;
    height: auto;
    z-index: 3;
}


.dots {
    position: absolute;
    width: 6rem;
    height: 12rem;
    background-image: radial-gradient(#1e30f3 2px, transparent 2px);
    background-size: 1.2rem 1.2rem;
    z-index: 1;
}

.dots-left {
    bottom: 0;
    left: 0;
}

.dots-right {
    top: 0;
    right: 0;
}

@media (max-width: 992px) {
    .profile-bg-gradient {
        width: 18rem;
        height: 18rem;
    }
    .profile-wrapper {
        padding: 2rem;
    }
    .display-3 {
        font-size: 2.5rem;
    }
}




