:root {
    --primary-color: #e67e22;
    --bg-light: #fdf2e9;
}

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    overflow-x: hidden;
    background-color: var(--bg-light); 
}
.hero-section{
 margin-top: 90px;
  min-height: 82vh; 
   
}



.nav-link { font-weight: 500; color: #333 !important; }
.btn-orange { background-color: var(--primary-color); color: white !important; border-radius: 9px; font-weight: 600; }
.btn-orange:hover { background-color: #cf711f; }
.btn-white { background-color: white; border: 1px solid #eee; border-radius: 9px; font-weight: 600; }


.hero-title { font-size: 3.5rem; line-height: 1.1; color: #333; }
.hero-description { font-size: 1.25rem; line-height: 1.6; color: #555; }


.customer-avatars img {
    width: 45px; height: 45px;
    border-radius: 50%;
    margin-right: -15px;
    border: 3px solid var(--bg-light);
}
.text-orange { color: var(--primary-color); }


.image-collage {
    position: relative;
    height: 500px; 
    width: 100%;
}

.img-main {
    position: absolute;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-main:hover { transform: scale(1.05); z-index: 10; }


.img-1 {
    width: 45%; height: 250px;
    top: 0; right: 10%;
    z-index: 1;
}


.img-2 {
    width: 60%; height: 300px;
    bottom: 5%; left: 0;
    z-index: 3;
}


.img-3 {
    width: 40%; height: 280px;
    top: 25%; right: 0;
    z-index: 2;
}

@media (max-width: 991px) {
    .hero-title { font-size: 2.5rem; }
    .image-collage { height: 400px; margin-top: 50px; }
    .img-1 { width: 50%; height: 180px; }
    .img-2 { width: 70%; height: 220px; }
    .img-3 { width: 50%; height: 200px; }
}

.grayscale { filter: grayscale(100%); }


.how-section {
  background: #fff;
}

.step-number {
  font-size: 5rem;
  font-weight: 700;
  color: #ddd;
  display: block;
  margin-bottom: 10px;
}

.phone-bg {
  position: relative;
  display: inline-block;
  z-index: 0;
}



.phone-bg::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  background: #fdf2e9;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}


.phone-bg::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  background: #fae5d3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.phone-img {
  max-width: 220px;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: white
  
}


.meals {
  padding: 80px 20px;
  text-align: center;
  
}

.section-sub {
  color: #e67e22;
  font-weight: bold;
  letter-spacing: 2px;
}

.section-title {
  font-size: 40px;
  margin-bottom: 50px;
}


.meals-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: start;
  max-width: 1100px;
  margin: auto;
}


.meal-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  text-align: left;
  transition: 0.3s;
}

.meal-card:hover {
  transform: translateY(-8px);
}

.meal-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.meal-content {
  padding: 20px;
}


.tag {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 5px;
  color: #000;
}

.veg { background: #51cf66; }
.vegan { background: #94d82d; }
.paleo { background: #ffd43b; }

.meal-content ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.meal-content li {
  margin-bottom: 8px;
  color: #555;
}


.diet-box {
  text-align: left;
}

.diet-box h3 {
  margin-bottom: 15px;
}

.diet-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.diet-box li {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
  color: #555;
  font-size: 16px;
}


.diet-box li::before {
  content: "✓";
  color: #e67e22;
  font-weight: 700;
  font-size: 18px;
}



.see-all {
  display: inline-block;
  margin-top: 40px;
  color: #e67e22;
  text-decoration: none;
  font-weight: bold;
}


@media (max-width: 992px) {
  .meals-container {
    grid-template-columns: 1fr 1fr;
  }

  .diet-box {
    grid-column: span 2;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .meals-container {
    grid-template-columns: 1fr;
  }
}

.testimonials-section {
  background: #fdf2e9;
  padding: 80px 20px;
}

.container-custom {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: start;
}


.sub {
  color: #e67e22;
  font-weight: bold;
  letter-spacing: 2px;
}

.testimonials-left h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.testimonial img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.testimonial p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 8px;
}

.testimonial span {
  color: #777;
  font-size: 14px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.gallery img {
  width: 100%;
  display: block;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}


@media (max-width: 992px) {
  .container-custom {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .testimonials-grid {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pricing {
  background: #fff;
}

.pricing-sub {
  color: #e67e22;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}

.pricing-title {
  font-size: 42px;
  font-weight: 700;
}


.pricing-card {
  border-radius: 14px;
  border: 1px solid #f1d6bf;
  position: relative;
}

.pricing-card.complete {
  background: #fdf2e9;
  border: none;
}

.best-badge {
  position: absolute;
  top: 22px;
  right: -48px;
  background: #ffd43b;
  padding: 6px 60px;
  font-size: 12px;
  font-weight: 700;
  transform: rotate(45deg);
}


.plan-name {
  color: #e67e22;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.price {
  font-size: 52px;
  font-weight: 700;
}

.price span {
  font-size: 26px;
  margin-right: 4px;
}

.price-text {
  color: #777;
}


.pricing-list li {
  margin-bottom: 14px;
  color: #555;
  position: relative;
  padding-left: 28px;
}

.pricing-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: #e67e22;
  font-weight: bold;
}

.pricing-list li.disabled::before {
  content: "✕";
  color: #ccc;
}


.btn-price {
  background: #e67e22;
  color: #fff;
  padding: 14px 32px;
  border-radius: 10px;
  font-weight: 600;
}

.btn-price:hover {
  background: #cf711f;
  color: #fff;
}





.cta-box {
  background: linear-gradient(135deg, #e9954b, #cf711f);
  border-radius: 16px;
}


.cta-title {
  font-size: 32px;
  font-weight: 700;
  color: #2d1a06;
}

.cta-text {
  color: #2d1a06;
  line-height: 1.6;
}


.cta-btn {
  background: #4b2505;
  color: white;
  font-weight: 600;
  padding: 12px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #3a1c03;
}


.cta-image {
  background-image: url("https://img.freepik.com/premium-photo/woman-eating-food-restaurant_73899-14661.jpg");
  background-size: cover;
  background-position: center;
  min-height: 420px;
}


@media (max-width: 991px) {
  .cta-image {
    min-height: 300px;
  }
}



.feature-box {
  padding: 10px 15px;
}

.feature-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
  background: #fdf2e9;
  color: #e67e22;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}

.feature-title {
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

.feature-text {
  color: #666;
  line-height: 1.6;
  font-size: 15px;
}

